$body-color: #0f0f0f;
$text-color: #fff;
$navbar-color: #fff;

body {
    background: $body-color;
    padding: 0;
    margin: 0;
    color: $text-color;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

h1 {
    font-size: 2rem;
}

Details {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

img {
    height: auto;
    width: 13rem;

    position: relative;
    right: 69rem;
}

//barra de navegacion

.navbar {
    padding: 1rem;
}

.hambur-menu {
    display: none;
    position: absolute;
    right: 1rem;
    top: 1rem;
    text-align: right; 
}

.navbar-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    position: relative;
    right: 3rem;

    padding: 1rem;
    margin: auto;
}

.navbar-items {
    padding: 1rem;
    margin-left: 2rem;
    display: inline-block;
}

@media (max-width:720px) {
    .navbar-list {
        position: relative;
        bottom: 2.5rem;
        left: 3rem;
    }
    .navbar {
        padding: 3rem;
        border: 1px solid $body-color;
    }
    .navbar-items {
        display: none;
    }
    .hambur-menu {
        display: block;
        font-size: 1.8rem;
        .navbar-item {
        margin-bottom: 1rem;
        text-decoration: none;
        font-size: 1.2rem;
        }    
    }
}

@media (min-width:720px) {
    .hambur-menu {
        display: none;
    }
    .navbar-item {
        margin-bottom: 5rem;
    }
}

// contenido

.container-dad {
    display: flex;
    justify-content: center;
    margin-left: 41rem;
}

.container-son {
    height: auto;
    width: 13rem;

}